<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.evgem.android.drachukeugenesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="org.evgem.android.drachukeugenesapp.LAUNCHES_READ"
        android:protectionLevel="signature" />
    <permission
        android:name="org.evgem.android.drachukeugenesapp.LAUNCHES_WRITE"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".ui.activity.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.navigation.NavigationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentStatusBar" />

        <service
            android:name=".service.ImageLoaderJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".data.provider.LaunchContentProvider"
            android:authorities="org.evgem.android.drachukeugenesapp.data.provider.LaunchContentProvider"
            android:exported="true"
            android:readPermission="org.evgem.android.drachukeugenesapp.LAUNCHES_READ"
            android:writePermission="org.evgem.android.drachukeugenesapp.LAUNCHES_WRITE" />

    </application>

</manifest>